.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8 + 20px);
  height: calc(64px * 8 + 20px);
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #000;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img{
    position: relative;
    width: 60px;
    height: 60px;
  }

.black {
    background-color: #b58763;
}

.white {
    background-color: #f0dab5;
}